# To use the brightway calculator in lcpy a separate python environment with the below brightway-related
# dependencies need to be installed in a separate python environment, the path to which needs to be given
# to the relevant calculator class via a dictionary with predefined structure (see examples)
brightway2==2.4.7
